
body {
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	font-family: HelveticaLight;
}
@font-face {
	font-family: HelveticaLight;
	src: url('../design/Fonts/HelveticaNeueLTCom-Roman.ttf');
}
@font-face {
	font-family: HelveticaLT25;
	src: url('http://web.mit.edu/rlau/www/Fonts/HelveticaLT25.ttf');
}
@font-face{
	font-family: HelveticaBold;
	src: url('../design/Fonts/HelveticaNeueLTCom-MdCn.ttf')
}
@font-face{
	font-family: Roboto;
	src: url('http://web.mit.edu/rlau/www/Fonts/Roboto-Thin.ttf')
}
@font-face{
	font-family: RobotoBold;
	src: url('http://web.mit.edu/rlau/www/Fonts/Roboto-Medium.ttf')
}
strong {
	font-family: HelveticaBold;
}
.header {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 30%, #BBBBBB 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(100%,#BBBBBB)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 30%,#BBBBBB 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 30%,#BBBBBB 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 30%,#BBBBBB 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 30%,#BBBBBB 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#BBBBBB',GradientType=0 ); /* IE6-9 */
	height: 80px;
}
.title{
	display: inline;
	float: left;
}
.midbar {
	background-color: #D3D3D3;
	height: 20px;
}
.container {
	width: 1000px;
	/*height: inherit;*/
	margin: 0px auto 0px;
}

.main {
	background-color: #FCFCF7;
	/*height: 80%;*/
	position: relative;
	border-radius: 0px 0px 5px 5px;
	min-height: 500px;
}
.midbar {
	height: 30px;
	background-color: #999999;
}
.tab {
	width: 500px;
	background-color: #999999;
	height: 30px;
	text-align: center;
}
#multipleTerm {
	float: right;
	cursor: pointer;
}
#singleTerm {
	float: left;
	cursor: pointer;
}
.selected {
	background-color: #FCFCF7;
}
#oneTerm {
	background: url('form.png') repeat-x;
	color: #888;
	border: 1px solid #ccc;
	font-family: HelveticaLight;
	font-weight: bold;
	font-size: 20px;
	width: 500px;
	height: 35px;
	padding: 0 10px;
	float: left;
	border-radius: 6px;
}
#singlesearch {
	height: 35px;
	width: 600px;
	margin: 20px auto 0px;
}
#multiplesearch {
	height: 500px;
	width: 750px;
	margin: 20px auto 0px;
	display: none;
}
#manyTerm {
	width: 400px;
	height: 350px;
	/*padding: 0px;*/
	float: left;
	border-radius: 6px;
}

.bottom {
	text-align: right;
	height: 25px;
	float: right;
	color: blue;
	position:absolute;
	bottom:2px;
	right: 8px;
}
.bottom a{
	cursor: pointer;
}
.box {
	border-style: solid;
	border-radius: 5px;
	border-color: gray;
	margin: 8px auto 8px;
	padding: 5px;
	background-color: white;
	position:relative;
	padding: 10px;
	width: 600px;
}

#boxarea{
	width: 700px;
	margin: 5px auto 0px;
	max-height: 450px;
	overflow: auto;
}
a{
	text-decoration:none;
}
a:hover{
	color:gray;
}

/* Login CSS */
#container1 {
    width:780px;
    margin:0 auto;
    position: relative;
}

#content {
    width:520px;
    min-height:500px;
}
a:link, a:visited {
    color:#27b;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a img {
    border-width:0;
}

#home {
	border-radius: 4px 4px 4px 4px;
}
#logout{
	border-radius: 4px 4px 4px 4px;
}
.topnav {
    padding:10px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
    float: right;
}
.topnav a.signin {
    background:#88bbd4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    *background:transparent url("images/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#login{
	-webkit-border-radius:4px 0px 0px 4px;
    -moz-border-radius:4px 0px 0px 4px;
    border-radius:4px 4px 4px 4px;
}
#signup{
	-webkit-border-radius:0px 4px 4px 0px;
    -moz-border-radius:0px 4px 4px 0px;
    border-radius:0px 4px 4px 0px;
}
.topnav a.signin:hover {
    background:#59B;
    *background:transparent url("images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
.topnav a.signin, .topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    position:relative;
    margin: 0px -2px;
}
a.signin span {
    background-image:url("images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
.topnav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a#login.menu-open span {
    background-image:url("images/toggle_up_dark.png");
    color:#789;
}
.signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px; 
    right: -2px; 
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}

.signin_menu input[type=text], .signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
.signin_menu p {
    margin:0;
}
.signin_menu a {
    color:#6AC;
}
.signin_menu label {
    font-weight:normal;
}
.signin_menu p.remember {
    padding:10px 0;
}
.signin_menu p.forgot, .signin_menu p.complete {
    clear:both;
    margin:5px 0;
}

.signin_menu p a {
    color:#27B!important;
}
#signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url('images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}
/* Login CSS End */

/*.bigthing{
	height: 100%;
}*/

.signup_menu{
	    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px; 
    right: -2px; 
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}
.signup_menu input[type=text], .signup_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
.signup_menu p {
    margin:0;
}
.signup_menu a {
    color:#6AC;
}
.signup_menu label {
    font-weight:normal;
}
.signup_menu p.remember {
    padding:10px 0;
}
.signup_menu p.forgot, .signup_menu p.complete {
    clear:both;
    margin:5px 0;
}
.signup_menu p a {
    color:#27B!important;
}
.wikifavicon img{
	display:inline;
	height:15px;
	width:15px;
	vertical-align:-2px; 
}
.close	{
	position: absolute;
	top: -12px;
	right: -12px;
	text-decoration:none;
	cursor: pointer;
	z-index: 1;
}
.close a{
	color: green;
}
.close img{
	height: 25px;
	width: 25px;
	overflow: visible;
}
.popup{  
	display:none;  
	position:fixed;  
	/*height:500px; */ 
	width:450px;  
	background:#FFFFFF;  
	border:2px solid #cecece;  
	z-index:2;  
	padding:12px;  
	font-size:13px; 
}
.popup h1{
	text-align:center;
}
.popupClose	{
	position:absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
#backgroundPopup{  
	display:none;  
	position:fixed;  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000000;  
	border:1px solid #cecece;  
	z-index:1;  
}  


#guideTitle::-webkit-input-placeholder { 
	text-align: center;
}
#guideTitle	{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px;
	padding: 0px;
	border-color: black;
	border-width: 1px;
	margin-left: 50px;
	margin-right: 50px;
}
#guideInstructions	{
	float: left;
	width: 300px;
	margin-left: 20px;
	margin-top: 0px;
	font-size: 120%;
}
#guideInstructions h2, h1{
	margin-top: 0px;
}
#guideInstructions li{
	padding-bottom: 10px;
}
#manyTerm::-webkit-input-placeholder{
	font-size: 300%;
}
#manyTerm{
	font-size: 150%;
}
#guideInput	{
	width: 400px;
	float: left;
	margin: 0px auto;
}
#summarize {
	cursor: pointer;
	float: right;
	height: 35px;
	border-radius: 4px;
	background-image: url(button.gif);
	background-repeat-x: repeat;
	background-color: #DDDDDD;
	border-top-color: #BBBBBB;
	border-right-color: #BBBBBB;
	border-left-color: #BBBBBB;
	border-bottom-color: #999999;
	border: 1px solid #BBBBBB;
	box-shadow: 0px 1px 0px #F8F8F8;
	text-shadow: 0px 1px #F0F0F0;
	text-align: center;
	font-size: 10pt;
}
#createGuideButton{
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
} 
#createCardsButton{
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
#createGuide{
	float: left;
}
#createCards{
	float: right;
}
#createButtons{
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 300px;
}
#createButtons button{
	font-size: 20px;
}
#toggleInstaMultiButton{
	border-radius:10px;
	font-size: 20px;
}
#liveStudyGuide	{
	width: 800px;
}
#loadingclose {
	position: absolute;
	top: -12px;
	right: -12px;
}
#loadingclose img{
	height: 25px;
	width: 25px;
}
/*Autocomplete*/
.guidePopupTitleArea	{
	margin: 20px auto 20px;
	width: 350px;
}
.guidePopupTitle{
	width: 300px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	border: 0px;
}
.guidePopupTitle::-webkit-input-placeholder {
	color: black;
}
.guidePopupTitleSave{
	display:none;
	vertical-align: middle;
}
.guideTitleAssigned{
	display: none;
}
#guidePopup{
	width: 800px;
}
#multiSearchButtonArea{
	width: 200px;
	text-align: center;
	margin: 0px auto;
}
#multiSearchButton{
	margin-top: 20px;
	font-size: 140%;
}
